.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: transparent;
    color: #c9d1d9;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.register-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: transparent;
    color: rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.register-btn:hover {
    background: #161b22;
    color: #58a6ff;
    border-radius: 14px;
}

.nav-btn:hover {
    background: #161b22;
    color: #58a6ff;
    border-radius: 14px;
}