body {
    font-family: "Aloevera Display", sans-serif !important;
}

.containerBox-1 {
    background-color: #161b22;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    height: 600px;
    margin-left: 20px;
    margin-right: 20px;
}

.container {
    color: white;
}

.cardAnime {
    cursor: pointer;
    transition: transform 0.2s;
}

.cardAnime:hover {
    transform: scale(1.05);
}

.left,
.right {
    width: 100%;
}

@media (min-width: 768px) {

    .left,
    .right {
        width: 48%;
        display: inline-block;
        vertical-align: top;
    }
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}