body {
    font-family: "Aloevera Display", sans-serif;
}

.containerBox-1 {
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    height: 600px;
    margin-left: 20px;
    margin-right: 20px;
}